body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrap {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.statistika {
  padding: 28px;
  overflow: auto;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.statistika h1 {
  font-weight: bold;
}

.son {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: space-between; */
  margin-top: 20px;
}

.son .ant-card {
  /* flex-basis: calc(50% - 10px); */
  margin-bottom: 20px;
}
.son h2 {
  font-weight: bold;
}
